
$color-list: $color-link;
$color-list-hover: $color-link;
$background-color-list: $background-color-link;
$background-color-list-hover: $color-gray-lighten;

$text-decoration-list: $text-decoration-link;
$padding-list: 0;