// table layout
$table-cell-align: center;
$table-cell-align-caption: $table-cell-align;
$table-cell-align-header: $table-cell-align;
$table-cell-align-body: $table-cell-align;
$table-cell-padding: 6px;

$table-border-width: 1px;
$table-border-style: solid;
$table-border-color: $color-gray-light;


$table-margin-bottom: 30px;