
.checkbox-inner {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 3px;
}


.checkbox__control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;

  &:checked {
    & ~ label {
      background: #C6C6C6;
      background: linear-gradient(#C6C6C6, #ffffff);
      &:before {
        background: #9ECC61;
      }
    }
  }
}




.label__control {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;

  border-radius: 50%;
  background: #eaeaea;

  // gap horizontal  [+ right]  [- left]
  // gap vertical [+ down]  [- up]
  // blur [0 clear]
  // stretch [+ stretch] [- compress]
  // opacity [0.25]
  box-shadow:
          0 5px 8px rgba(0,0,0,.25),              //  outside black bottom shadow
          inset 0 -5px 5px rgba(100,100,100,0.1), //  inside lightgrey bottom
          inset 0 5px 5px rgba(255,255,255,0.5);    //  inside white top shadow

  &:after,
  &:before {
    content: "";
    position: absolute;
    border-radius: inherit;
  }
  // inside circle
  &:before  {
    width: 25%;
    height: 25%;
    left: 37%;
    top: 37%;
    background: #cccccc;
    box-shadow:
            inset 0 2px 5px 1px rgba(0,0,0,0.4);
  }
 // outside circle
  &:after {
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    z-index: -1;
    background: #C7C7C7;
    background: linear-gradient(#C7C7C7, #fff);
    box-shadow:
            inset 0 5px 7px rgba(0,0,0,0.15);
  }

}
