@import "../../../variables/form/checkbox";
@import "../../../variables/form/label";

.checkbox-inner {
  display: table;
}

.checkbox__control,
.label__control {
  display: table-cell;
  vertical-align: top;
}

.checkbox__control {
  width: $checkbox-width;
  height: $checkbox-height;
}

.label__control {
  line-height: $label-line-height;
  padding-left: $label-padding-left;
}