
$form-fieldset-margin-top: 0;
$form-fieldset-margin-right: 0;
$form-fieldset-margin-bottom: 20px;
$form-fieldset-margin-left: 0;
$form-fieldset-margin: $form-fieldset-margin-top $form-fieldset-margin-right $form-fieldset-margin-bottom $form-fieldset-margin-left;

$fieldset-legend-color: $color-gray-light;
$fieldset-legend-weight: $font-weight*7;

$fieldset-legend-padding-vertical: 0;
$fieldset-legend-padding-horizontal: 20px;
$fieldset-legend-padding: $fieldset-legend-padding-vertical $fieldset-legend-padding-horizontal;

$help-block-margin-top: 0;
$help-block-margin-bottom: 0;
$help-block-margin-horizontal: 0;
$help-block-margin: $help-block-margin-top $help-block-margin-horizontal $help-block-margin-bottom;




