$input-width: 100%;
$input-padding-vertical: 7px;
$input-padding-horizontal: 12px;
$input-padding: $input-padding-vertical $input-padding-horizontal;

$input-color: #555;
$input-background-color: #fff;

$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: #ccc;
$input-border-radius: 4px;

$input-inner-addon-width: 40px;
$input-inner-addon-align: center;