$label-line-height: 20px;
$label-padding-left: 10px;



$label-color: $color-gray-light;
$label-font-weight: $font-weight*5;
$label-cursor: pointer;

$label-inner-left-gap: 20px;
$label-inner-gap: 7px;
$label-inner-height: 30px;
$label-inner-line-height: $label-inner-height;